.App {
  text-align: center;
}

.container-fluid {
  max-width: 100vw;
  max-height: 100vh;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.sidebar {
  max-width: 20vw !important;
}

.map {
  padding: 0 !important;
}

.sidebar h2,
.sidebar p,
.sidebar ul {
  text-align: left;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar button {
  width: 100%;
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  .container-fluid {
    max-width: 100vw !important;
    position: absolute;
  }
  .map {
    max-width: 65vw !important;
    height: 100vh;
    margin-right: 3vw;
  }
  .sidebar {
    max-width: 20vw !important;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 100vw;
  }
  .map {
    max-width: 100vw !important;
  }
  .sidebar {
    display: none;
    max-width: 100vw !important;
  }
}